{
  "extends": "airbnb/base",
  "rules": {
    "indent": ["error", 4],
    "func-names": "off",
    "max-len": ["error", { "code": 122 }]
  },
  "plugins": ["webdriverio"],
  "env": {
    "webdriverio/wdio": true,
    "mocha": true,
    "browser": true
  }
}
